fastapi
uvicorn[standard]
sqlalchemy
deepface
opencv-python-headless
mediapipe
streamlit
sentence-transformers
faiss-cpu
google-generativeai
pydantic
python-multipart
tf-keras
pydantic-settings
Pillow
websockets
edge-tts
twilio
transformers
torch
pandas
numpy
torchaudio
openai
fpdf2
bcrypt==4.1.3
sendgrid
email-validator
pydantic-settings
